<div class="d-flex justify-content-between align-items-center">
    <h1>Players</h1>
</div>
<% @players.each do |player| %>
  <div class="mb-3 card card-body">    
        <%= link_to player.name, player_path(player) %>
  </div>
<% end %>
